<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trytothemain">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/savemoney_icon"
        android:label="תחסוך טוב יהיה טוב"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TryToTheMain"
        tools:targetApi="31">
        <activity
            android:name=".InfoCategory"
            android:parentActivityName=".categoryActivity"
            android:exported="false" />
        <activity
            android:name=".InfoLoans"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailsLoans"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".infoDetail"
            android:exported="false"
            android:parentActivityName=".DetailsMoney" />
        <activity
            android:name=".DetailsMoney"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".YourExpense"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".editLoansActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".categoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>